* {
    font-family: sans-serif;
}

.Main {
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.splink {
    text-decoration: underline !important;
}

.perflink, .perflink:link, .perflink:visited {
    padding: 10px;
    font-size: 1.5em;
    text-decoration: underline !important;
    color:#e75480 !important;
}

.slink, .slink:link, .slink:visited {
    padding: 10px;
    text-decoration: underline !important;
    color:#e75480 !important;
}

.perflink:hover {
    color:black !important;
    cursor: pointer;
}

button, #editInputButton, #submit {
    background-color: pink;
    border-radius: 5px;
    border-color: hotpink;
    box-shadow: #e75480 0px 0px 5px;
}

.ytplayer {
    border-radius: 10px;
    border: 5px solid pink;
    box-shadow: #e75480 0px 0px 10px;
}

/* Homepage */
#username, #password {
    border-radius: 5px;
    border: 1px solid #e75480;
    padding: 5px;
}

.homepageText {
    margin: auto;
    width: fit-content;
    text-align: center;
    background-color: pink;
    padding: 10px;
    border-radius: 10px;
    box-shadow: #e75480 0px 0px 5px;
}

.homepageList, .homepageListItem {
    margin:auto;
    width: fit-content;
    text-align: center;
}

.homepageListItem {
    padding: 5px;
}

/* Edit */
#groupName, #name, #location, #bio {
    border-radius: 5px;
    border: 1px solid #e75480;
    padding: 5px;
}

#editInput {
    text-align: center;
}

/* My Group */
.mginfo, .mginfo1, .mginfo2 {
    text-align: center;
    padding: 15px;
}

.mginfo1, .mgHeader1 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.mginfo2, .mgHeader2 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.mgstats {
    width: fit-content;
    padding: 10px;
    background-color: pink;
    border-radius: 10px;
    box-shadow: #e75480 0px 0px 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.mgrow:hover {
    background-color: pink;
    box-shadow: #e75480 0px 0px 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.mgHeader, .mgHeader1, .mgHeader2 {
    padding-bottom: 10px;
    background-color: #e75480;
    box-shadow: #e75480 0px 0px 10px;
}

.mygroupTable, .mygroupDetails {
    margin: auto;
    text-align: center;
}

.mygroupTable {
    border-spacing: 0px 10px;
}

.mygroupDetails {
    background-color: #e75480;
    width:fit-content;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: #e75480 0px 0px 10px;
}

#groupName {
    margin-top: 0px;
}

.groupOptions {
    padding-top: 5px;
    padding-bottom: 5px;
}


/* Performance/Song Options */
#perfSetup {
    font-style: oblique;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: fit-content;
}

#groupOptions, #songOptionsListLabel {
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: fit-content;
    text-align: center;
}

#groupOptionsDropdown {
    border-radius: 5px;
    border: 1px solid #e75480;
}
.songOptionsList {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.songOption {
    list-style-type: none;
    padding: 5px;
}

.songOptionButton {
    background-color: transparent;
    border-style: solid;
    border-color: pink;
    border-radius:10px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: #e75480 0px 0px 10px;
    transition: 1s ease-in-out;
    background-color: white;
}

.songOptionButton:hover {
    transform:scale(1.1,1.1);
}

.songOptionImg {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.songOptionLabel {
    padding-top: 3px;
    padding-bottom: 3px;
}

#final {
    margin: auto;
    width:fit-content;
}

#perfAnnouncement {
    text-align: center;
}

#goButton {
    font-size: 2em;
    text-align: center;
    margin-top: 10px;
}

/* Performance */
.results {
    margin:auto;
    width:fit-content;
}

#perfPlayer {
    margin:auto;
    margin-top: 10px;
}

#resultsArea {
    margin: auto;
    width: fit-content;
}

#resultsTitle, #waitText {
    margin:auto;
    width: fit-content;
    padding-top: 10px;
    font-style: oblique;
}

#waitText {
    text-align: center;
}

#leaderboardButton {
    margin:auto;
    margin-top: 10px;
}

#resultsTable {
    margin-right: 50px;
}

#resultsText {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: left;
    background-color: pink;
    border-radius: 10px;
    box-shadow: #e75480 0px 0px 10px;
    margin-top: 15px;
}

#resultsMember {
    text-align: center;
}

/* Leaderboard */
.logoFull {
    margin:auto;
    display:block;
}

.LBDiv {
    margin: auto;
} 
.LBTable {
    margin: auto;
    border-collapse: separate;
    border-spacing: 0px 10px;
    width: 90%;
    border-radius: 10px;
}

.LBRow:hover {
    background-color: pink;
    box-shadow: #e75480 0px 0px 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.LBNum, .LBEntry, .LBScore, .LBDate {
    padding: 30px;
    text-align: center;
}

.LBHeader, .LBHeader1, .LBHeader2 {
    padding-bottom: 10px;
    background-color: #e75480;
    box-shadow: #e75480 0px 0px 10px;
}

.LBHeader1 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.LBHeader2 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.LBNum {
    margin: 0;
    padding: 0;
    padding-left: 30px;
    font-size: 50px;
    font-style: oblique;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-shadow: #e75480 0px 0px 20px;
}

.LBDate {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.LBMembers {
    height: 3.5em;
    overflow-y: scroll;
}

#LBytplayer {
    margin: auto;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

