.sidebarli {
    list-style-type: none;
    padding:10px;
}

.sidebar {
    background-color: #e75480;
    width:150px;
    top:50px;
    position:fixed;
    left:0;
    bottom:0;
    margin:0;
    overflow-y:scroll;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: #e75480 0px 0px 10px;

    /* -ms-overflow-style: none;
    scrollbar-width: none; */
}

/* .sidebar::-webkit-scrollbar {
    display:none;
} */